<!-- BS$ timeline by mylastof - https://bootsnipp.com/snippets/O5q8E -->

<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fas fa-user-graduate"></i> Education</h2>
  <!--first section-->
  <div class="row align-items-center how-it-works d-flex">
    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
      <div class="circle hvr-buzz-out"><b>2008</b></div>
    </div>
    <div class="col-8">
      <h3 class="hvr-wobble-horizontal"><mark>Hendon School</mark> <small>Sept. 2008 - July 2013</small></h3>
      <p>
        In secondary school, we played a lot of <a target="_blank" rel="noopener" aria-label="Wikipedia Page for Spoons" href="https://en.wikipedia.org/wiki/Spoons">spoons</a> at lunchtime in our canteen. I also happened to take a number of GCSEs and of course one was ICT. We had to make an E-zine for coursework and mine was about recommending <i>"the best and latest affordable smartphone"</i>. Check out the screenshots of my <a target="_blank" rel="noopener" aria-label="Cover Screen of E-zine" href="assets/images/cover_screen.jpeg">"Cover Screen"</a> and <a target="_blank" rel="noopener" aria-label="Information Screen of E-zine" href="assets/images/information_screen.jpeg">"Information Screen"</a> for throwbacks.
      </p>
    </div>
  </div>
  <!--path between 1-2-->
  <div class="row timeline">
    <div class="col-2">
      <div class="corner top-right"></div>
    </div>
    <div class="col-8">
      <hr/>
    </div>
    <div class="col-2">
      <div class="corner left-bottom"></div>
    </div>
  </div>
  <!--second section-->
  <div class="row align-items-center justify-content-end how-it-works d-flex">
    <div class="col-8 text-right">
      <h3 class="hvr-wobble-horizontal"><mark>Woodhouse College</mark> <small>Sept. 2013 - July 2015</small></h3>
      <p>
        Here, I discovered the immense joy and satisfaction of programming through A-Level Computing. As A2 coursework, I created a Tuition Management System using VB.NET. I also took Mathematics and History.
      </p>
    </div>
    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
      <div class="circle hvr-buzz-out"><b>2013</b></div>
    </div>
  </div>
  <!--path between 2-3-->
  <div class="row timeline">
    <div class="col-2">
      <div class="corner right-bottom"></div>
    </div>
    <div class="col-8">
      <hr/>
    </div>
    <div class="col-2">
      <div class="corner top-left"></div>
    </div>
  </div>
  <!--third section-->
  <div class="row align-items-center how-it-works d-flex">
    <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
      <div class="circle hvr-buzz-out"><b>2015</b></div>
    </div>
    <div class="col-8">
      <h3 class="hvr-wobble-horizontal"><mark>University of Sheffield</mark> <small>Sept. 2015 - July 2018</small></h3>
      <h4>BSc (Hons) in Computer Science - Class One</h4>
      <p>
        With exposure to the wide range of fields in computing, it soon became very clear that software development was where my interest laid. During this time, a number of team and individual projects were conducted particularly to do with web applications using Ruby on Rails. E.g. a student registration and staff monitoring system and a gamification system for unit testing for my <a target="_blank" rel="noopener" aria-label="Dissertation Project Poster - Naga" href="http://naga-unit-testing.herokuapp.com/poster">dissertation project</a>.
      </p>
    </div>
  </div>
</div>
