<!-- By Brady Wright https://codepen.io/brady_wright/pen/NNOvrW?editors=1100 -->

<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fas fa-user-tie"></i> Education</h2>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-lg-10">
      <ul class="timeline">
        <li class="timeline-item">
          <div class="timeline-info">
            <h5><b>Sept. 2015 - July 2018</b></h5>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title hvr-wobble-horizontal"><mark>University of Sheffield</mark></h3>
            <h4>BSc (Hons) in Computer Science - Class One</h4>
            <p>With exposure to the wide range of fields in computing, it soon became very clear that software development was where my interest laid. During this time, a number of team and individual projects were conducted particularly to do with web applications using Ruby on Rails. E.g. a student registration and staff monitoring system and a gamification system for unit testing for my <a target="_blank" rel="noopener" aria-label="Dissertation Project Poster - Naga" href="https://naga-unit-testing.herokuapp.com/poster">dissertation project</a>.</p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info">
            <h5><b>Sept. 2013 - July 2015</b></h5>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title hvr-wobble-horizontal"><mark>Woodhouse College</mark></h3>
            <p>Here, I discovered the immense joy and satisfaction of programming through A-Level Computing. I also took Mathematics and History. For A2 Computing coursework, I created a Tuition Management System using VB.NET. Check out screenshots of the <a target="_blank" rel="noopener" aria-label="Home of Tuition Management System" href="assets/images/tms/home.png">"Home"</a> and <a target="_blank" rel="noopener" aria-label="View Lessons of Tuition Management System" href="assets/images/tms/view-lessons.png">"View Lessons"</a> of the desktop application for more throwbacks.</p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info">
            <h5><b>Sept. 2008 - July 2013</b></h5>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title hvr-wobble-horizontal"><mark>Hendon School</mark></h3>
            <p>I took a number of GCSEs including English and Mathematics and of course ICT. We had to make an E-zine for coursework and mine was about recommending <i>"the best and latest affordable smartphone"</i>. Check out screenshots of my <a target="_blank" rel="noopener" aria-label="Cover Screen of E-zine" href="assets/images/e-zine/cover-screen.jpeg">"Cover Screen"</a> and <a target="_blank" rel="noopener" aria-label="Information Screen of E-zine" href="assets/images/e-zine/information-screen.jpeg">"Information Screen"</a> for throwbacks.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
