p {
  margin: 0;
}

mark {
  margin-right: 0.5vw;
  color: black;
}

.circle {
  background-color: var(--white);
  color: var(--dark);
}

.how-it-works.row .col-2::after {
  border-left: 3px solid var(--white);
}

.timeline hr {
  border-top: 3px solid var(--white);
}

.timeline .corner {
  border: 3px solid var(--white);
}
