<footer class="text-center">
  <div id="links">
    <div class="row">
      <div class="col-md">
        <a class="hvr-wobble-horizontal" href="#landing" (click)="setTitle('')">Landing</a>
      </div>
      <div class="col-md">
        <a class="hvr-wobble-horizontal" href="#a-bit-about-me" (click)="setTitle('A Bit About Me')">A Bit About Me</a>
      </div>
      <div class="col-md">
        <a class="hvr-wobble-horizontal" href="#education" (click)="setTitle('Education')">Education</a>
      </div>
      <div class="col-md">
        <a class="hvr-wobble-horizontal" href="#experience" (click)="setTitle('Experience')">Experience</a>
      </div>
      <div class="col-md">
        <a class="hvr-wobble-horizontal" href="#portfolio" (click)="setTitle('Portfolio')">Portfolio</a>
      </div>
    </div>
  </div>
  <p>
    © 2018 Copyright: Wen Ting Wang
  </p>
</footer>
