footer {
  padding: 2.5vh;
  background-color: var(--dark);
  color: white;
  /* max-width: 100%; */
}

footer #links {
  margin-bottom: 2.5vh;
}

footer #links a {
  text-decoration: none;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

footer i {
  font-size: 1.5em;
}
