<footer>
  <div id="links">
    <div class="row">
      <div class="col-md text-center">
        <a class="hvr-wobble-vertical" href="#landing" (click)="setTitle('')">Landing</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md text-center">
        <a class="hvr-wobble-horizontal" href="#a-bit-about-me" (click)="setTitle('A Bit About Me')">A Bit About Me</a>
      </div>
      <div class="col-md text-center">
        <a class="hvr-wobble-horizontal" href="#education" (click)="setTitle('Education')">Education</a>
      </div>
      <div class="col-md text-center">
        <a class="hvr-wobble-horizontal" href="#experience" (click)="setTitle('Experience')">Experience</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>
        <a href="https://github.com/chubberlisk" aria-label="GitHub - Wen Ting Wang"><i class="fab fa-github"></i></a>
      </p>
      <p>
        If you would like to get into contact with me, please feel free to email me at <mark class="hvr-buzz-out">wenting_wang@outlook.com</mark>.
      </p>
      <p>
        Here's my CV if you're interested.
        <a href="assets/cv_wen_ting_wang.pdf" target="_blank" class="hvr-buzz-out" aria-label="Wen Ting Wang's CV" download><i class="fas fa-file-pdf"></i></a>
      </p>
    </div>
  </div>
  <div class="text-center">
    <p>
      © 2018 Copyright: Wen Ting Wang
    </p>
  </div>
</footer>
