<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fa fa-user"></i> A bit about me</h2>
  <p>
    I’m a recent Computer Science graduate from the University of Sheffield, determined to become a <mark>software engineer</mark>.
  </p>
  <p>
    I’ve always been drawn to and fascinated by technology since I was small. I think I was born at the perfect time to see its progression, whether that be the evolution of the internet, mobile phones or gaming. My aspiration to become a software engineer was progressive. It started from my silly phone and gaming interest to choosing ICT in GCSEs, to choosing A-Level Computing and Mathematics and then completing a Computer Science degree.
  </p>
  <p>
    In my personal statement for university, I said: <i>“The first program I ever created contained seven lines: a console application that simply reversed a string. Although it was a very basic program, the sense of achievement and satisfaction that I felt could not have been greater.”</i> I was wrong - it could be greater and that’s when you’re developing for someone else and for real. At university and working at Feastly Ltd, I learnt that <mark>a happy client means a happy Ting</mark>. It’s much more enjoyable and satisfying when you know what you’re creating is going to be seen and used by others and make a positive difference.
  </p>
  <p>
    From novice to software engineer, that’s the character arc I’ve created for myself in the <mark>Story of Ting</mark>. I’ve geared my education to a career in technology and now that I’m a graduate, I want to utilise everything I’ve learnt over the years, learn even more and improve my current skill set. This is because I want to develop great software for real clients, real people.
  </p>
  <h3 class="hvr-wobble-horizontal">Interests</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-futbol"></i>Football
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-table-tennis"></i>Table Tennis
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-music"></i>Ukulele
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-mobile"></i>Mobile Phones
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-gamepad"></i>Gaming
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-desktop"></i>PCs
        </div>
      </div>
    </div>
  </div>
</div>
