<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fa fa-user"></i> A bit about me</h2>
  <p>I’m a <mark>software developer</mark> from London.</p>
  <p>
    From my time at university, I acquired a particular interest in <mark>web applications</mark> due to their versatile nature, especially with the growth of Progressive Web Apps (PWA). I primarily have experience using <mark>Ruby on Rails</mark> however, I have begun an exploration into other web application platforms with the use of Angular to create this PWA.
  </p>
  <p>
    <mark>I love programming</mark> because I find it incredibly rewarding when you’re able to make someone else’s life a little bit easier by doing something you enjoy. Also, programming is just fun! It’s challenging and therefore really satisfying when you solve problems and see something develop that you've built from the ground up.
  </p>
  <p>
    <mark>Now as a graduate, I look forward to utilising, improving and adding to my current skill set in a fun, collaborative and challenging environment under the mentorship of more experienced teammates.</mark>
  </p>
  <h3 class="hvr-wobble-horizontal">Other Interests</h3>
  <div class="row">
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-futbol"></i>Football
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-table-tennis"></i>Table Tennis
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-music"></i>Ukulele
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-mobile"></i>Mobile Phones
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-gamepad"></i>Gaming
        </div>
      </div>
    </div>
    <div class="col-6 col-md-4 col-xl">
      <div class="card card-default hvr-bob">
        <div class="card-body">
          <i class="fas fa-desktop"></i>PCs
        </div>
      </div>
    </div>
  </div>
</div>
