.card {
  text-align: center;
  color: var(--dark);
  border-radius: 0;
}

.card i {
  display: block;
  margin-bottom: 0.75vh;
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
  .card {
    font-size: 0.75em;
  }
}

/* Small devices */
@media only screen and (min-width: 321px) {
  .card {
    font-size: 0.8em;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  .card {
    font-size: 1em;
  }
}
