<!-- By Brady Wright https://codepen.io/brady_wright/pen/NNOvrW?editors=1100 -->

<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fas fa-user-tie"></i> Experience</h2>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-lg-10">
      <ul class="timeline">
        <li class="timeline-item">
          <div class="timeline-info">
            <h5><b>Aug. 2017 - Sept. 2017</b></h5>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title hvr-wobble-horizontal"><mark>Feastly Ltd</mark></h3>
            <p>In the office catering company, I collaborated with the director in the first few stages of software development by designing a web application that catered specifically for the company’s needs in managing and improving their core menu and recipe building process. I also created client lunch menu pages for their WordPress website. The lunch menus were located in a Google Sheets document, read in JSON format and outputted using PHP and JavaScript.</p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info">
            <h5><b>Aug. 2016 - Sept. 2016</b></h5>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title hvr-wobble-horizontal"><mark>Ratcliff IT</mark></h3>
            <p>As an intern, I shadowed an IT Support Engineer and learnt to prepare and resolve client enquiries. I also assisted with the company's migration to a new system, handled client queries over the phone and carried out hands-on tasks such as preparing a new laptop for a client following their standard procedure.</p>
          </div>
        </li>
        <li class="timeline-item">
          <div class="timeline-info">
            <h5><b>July 2015 - Aug. 2015</b></h5>
          </div>
          <div class="timeline-marker"></div>
          <div class="timeline-content">
            <h3 class="timeline-title hvr-wobble-horizontal"><mark>Marks and Spencer</mark></h3>
            <p>Ah, my first proper job. I advised and assisted customers with finding products or offering suitable alternatives and resolved customer complaints in a professional and considerate manner.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
