<!-- BS$ timeline by mylastof - https://bootsnipp.com/snippets/O5q8E -->

<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fas fa-user-tie"></i> Experience</h2>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    Click on a company to find out more.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <!--first section-->
  <div class="row align-items-center how-it-works d-flex">
    <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
      <div class="circle hvr-buzz-out"><b>2017</b></div>
    </div>
    <div class="col-8">
      <a data-toggle="collapse" href="#feastly" role="button" aria-expanded="false" aria-controls="woodhouse">
        <h3>Feastly Ltd <small class="text-muted">Aug. 2015 - Sept. 2018</small></h3>
      </a>
      <div class="collapse" id="feastly">
        <p>
          In the office catering company, I collaborated with the director
          in the first few stages of software development by designing a web
          application to manage and improve their core menu and recipe building
          process. I also created client lunch menu pages for their WordPress website.
          The lunch menus were located in a Google Sheets document, read in JSON
          format and outputted using PHP and JavaScript.
        </p>
      </div>
    </div>
  </div>
  <!--path between 1-2-->
  <div class="row timeline">
    <div class="col-2">
      <div class="corner top-right"></div>
    </div>
    <div class="col-8">
      <hr/>
    </div>
    <div class="col-2">
      <div class="corner left-bottom"></div>
    </div>
  </div>
  <!--second section-->
  <div class="row align-items-center justify-content-end how-it-works d-flex">
    <div class="col-8 text-right">
      <a data-toggle="collapse" href="#ratcliff" role="button" aria-expanded="false" aria-controls="woodhouse">
        <h3>Ratcliff IT <small class="text-muted">Aug. 2015 - Sept. 2015</small></h3>
      </a>
      <div class="collapse" id="ratcliff">
        <p>
          As an intern I was mainly assigned administrative tasks. I did get to
          shadow an IT Support Engineer and occasionally carried out some small
          hand-on tasks such as preparing a new laptop for a client following
          their standard procedure.
        </p>
      </div>
    </div>
    <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
      <div class="circle hvr-buzz-out"><b>2016</b></div>
    </div>
  </div>
  <!--path between 2-3-->
  <div class="row timeline">
    <div class="col-2">
      <div class="corner right-bottom"></div>
    </div>
    <div class="col-8">
      <hr/>
    </div>
    <div class="col-2">
      <div class="corner top-left"></div>
    </div>
  </div>
  <!--third section-->
  <div class="row align-items-center how-it-works d-flex">
    <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
      <div class="circle hvr-buzz-out"><b>2015</b></div>
    </div>
    <div class="col-8">
      <a data-toggle="collapse" href="#m-and-s" role="button" aria-expanded="false" aria-controls="woodhouse">
        <h3>Marks and Spencer <small class="text-muted">July 2015 - Aug. 2015</small></h3>
      </a>
      <div class="collapse" id="m-and-s">
        <p>
          Ah, my first proper job. I mainly operated the tills but sometimes I'd
          make sure customers had food to buy by stocking shelves. I also
          aided customers when on the shop floor.
        </p>
      </div>
    </div>
  </div>
</div>
