$enable-responsive-font-sizes: true;
$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Lato", "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol";
$headings-font-family: "Amatic SC", cursive;
$h1-font-size: floor((26px * 2.6));
$h2-font-size: floor((26px * 2.15));
$h3-font-size: ceil((26px * 1.7));
$h4-font-size: ceil((26px * 1.25));
