@import 'custom';
@import "~bootstrap/scss/bootstrap";

html { scroll-behavior: smooth; }

body {
  background-color: #EAC435;
  color: white;
}

section {
  min-height: 85vh;
  padding: 2.5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mark {
  padding: 0 0.2em;
  background-color: white;
  color: black;
}
