<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="/assets/icons/icon-72x72.png" class="img-fluid" alt="Responsive image">
      <h3><b>Wen Ting Wang</b><br /><small>Let's develop Tings together.</small></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-4" id="email">
      <a href="mailto:wenting_wang@outlook.com" aria-label="Wen Ting Wang's Email" class="hvr-buzz-out"><i class="fa fa-envelope" data-toggle="tooltip" data-placement="top" title="Email Address - Wen Ting Wang"></i>wenting_wang@outlook.com</a>
    </div>
    <div class="col-12 col-lg-4" id="cv">
      <a href="assets/cv-wen-ting-wang.pdf" class="hvr-buzz-out" aria-label="Wen Ting Wang's CV" download><i class="fas fa-file-pdf" data-toggle="tooltip" data-placement="top" title="CV - Wen Ting Wang"></i>CV</a>
    </div>
    <div class="col-12 col-lg-4" id="social-links">
      <a href="https://github.com/chubberlisk" target="_blank" rel="noopener" aria-label="Wen Ting Wang's GitHub Profile" class="hvr-buzz-out" data-toggle="tooltip" data-placement="top" title="GitHub - Chubberlisk"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/chubberlisk" target="_blank" rel="noopener" aria-label="Wen Ting Wang's Twitter Profile" class="hvr-buzz-out" data-toggle="tooltip" data-placement="top" title="Twitter - Chubberlisk"><i class="fab fa-twitter"></i></a>
      <a href="https://www.instagram.com/chubberlisk/" target="_blank" rel="noopener" aria-label="Wen Ting Wang's Instagram Profile" class="hvr-buzz-out" data-toggle="tooltip" data-placement="top" title="Instagram - Chubberlisk"><i class="fab fa-instagram"></i></a>
      <a href="https://dev.to/chubberlisk" target="_blank" rel="noopener" aria-label="Wen Ting Wang's DEV Profile" class="hvr-buzz-out" data-toggle="tooltip" data-placement="top" title="Dev.to - Chubberlisk"><i class="fab fa-dev"></i></a>
    </div>
  </div>
</div>
