ul { padding: 0; }

li { list-style: none; }

a {
  text-decoration: none;
  color: white;
  font-family: 'Amatic SC', cursive;
  margin-right: 1vw;
}

div#email a i,
div#cv a i { margin-right: 1vw; }

/* Extra small devices */
@media only screen and (max-width: 320px) {
  a { font-size: 1.25em; }

  img { content:url("/assets/icons/icon-48x48.png"); }
}

/* Small devices */
@media only screen and (min-width: 321px) {
  a { font-size: 1.50em; }

  img { content:url("/assets/icons/icon-48x48.png"); }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  a { font-size: 1.75em; }

  img { content:url("/assets/icons/icon-72x72.png"); }
}
