<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fas fa-trophy"></i> Portfolio</h2>
  <div class="card-deck">
    <div class="card mx-auto">
      <img class="card-img-top" src="/assets/images/portfolio/personal-website.png" alt="Screenshot of Personal Website Landing">
      <div class="card-body">
        <h4 class="card-title hvr-wobble-horizontal">Personal Website</h4>
        <p class="card-text">A website for this Ting, acts as an informal CV and portfolio.</p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/chubberlisk/chubberlisk.github.io" target="_blank" rel="noopener" aria-label="GitHub Repository - Personal Website" class="float-left"><i class="fab fa-github"></i></a>
        <i class="fab fa-angular float-right"></i>
      </div>
    </div>
    <div class="card mx-auto">
      <img class="card-img-top" src="/assets/images/portfolio/coming-soon.jpg" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title hvr-wobble-horizontal">Coming Soon</h4>
        <p class="card-text">I'm cooking up some ideas for my next side project.</p>
      </div>
    </div>
  </div>
</div>
