<div class="container">
  <h2 class="hvr-wobble-vertical"><i class="fas fa-trophy"></i> Portfolio</h2>
  <div class="card-deck">
    <div class="card mx-auto">
      <img class="card-img-top" src="/assets/images/portfolio/personal-website.png" alt="Screenshot of Personal Website Landing">
      <div class="card-body">
        <h4 class="card-title hvr-wobble-horizontal">Personal Website</h4>
        <p class="card-text">A website for this Ting, acts as an informal CV and portfolio.</p>
        <h5>Progress - Completed</h5>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="card-footer">
        <a href="https://github.com/chubberlisk/chubberlisk.github.io" target="_blank" rel="noopener" aria-label="Wen Ting Wang's GitHub Repository for Personal Website" class="float-left"><i class="fab fa-github"></i></a>
        <i class="fab fa-angular float-right"></i>
      </div>
    </div>
    <div class="card mx-auto">
      <img class="card-img-top" src="/assets/images/portfolio/lp-calculator.gif" alt="LP Calculator">
      <div class="card-body">
        <h4 class="card-title hvr-wobble-horizontal">LP Calculator</h4>
        <p class="card-text">A life points (LP) calculator for Yu-Gi-Oh!</p>
        <h5>Progress - MVP</h5>
        <div class="progress">
          <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="card-footer">
        <a href="https://github.com/chubberlisk/lp_calculator" target="_blank" rel="noopener" aria-label="Wen Ting Wang's GitHub Repository for LP Calculator" class="float-left"><i class="fab fa-github"></i></a>
        <a href="https://lp-calculator.herokuapp.com/" target="_blank" rel="noopener" aria-label="Heroku Deployment Link for LP Calculator" class="float-left"><i class="fas fa-link"></i></a>
        <i class="far fa-gem float-right"></i>
      </div>
    </div>
  </div>
</div>
