::ng-deep :root {
  --w-yellow: #EAC435;
}

main {
  padding: 0 2.5vh;
  min-height: 100vh;
  background-color: var(--w-yellow);
}

footer {
  padding: 2.5vh;
  background-color: var(--dark);
  color: white;
  max-width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

footer #links {
  margin-bottom: 2.5vh;
}
