<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div class="container" id="links">
    <div class="row">
      <div class="col-md text-center">
        <a class="hvr-wobble-horizontal" href="#landing">Landing</a>
      </div>
    </div>
  </div>
  <div class="row" >
    <div class="col-md col-sm-6 text-center">
      <a class="hvr-wobble-horizontal" href="#about-me">A Bit About Me</a>
    </div>
    <div class="col-md col-sm-6 text-center">
      <a class="hvr-wobble-horizontal" href="#education">Education</a>
    </div>
    <div class="col-md col-sm-6 text-center">
      <a class="hvr-wobble-horizontal" href="#experience">Experience</a>
    </div>
    <div class="col-md col-sm-6 text-center">
      <a class="hvr-wobble-horizontal" href="#contact-me">Contact Me</a>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>
        <a href="https://github.com/chubberlisk"><i class="fab fa-github"></i></a>
      </p>
      <p>
        Just a little website for this ting.
      </p>
    </div>
  </div>
  <div class="text-center">
    © 2018 Copyright: Wen Ting Wang
  </div>
</footer>
