section#contact-me {
  min-height: 15vh;
  background-color: var(--info);

  ul { padding: 0; }

  li { list-style: none; }

  #social-links {
    a {
      color: white;
      font-size: xx-large;
      text-align: center;
      margin-right: 1rem;

      :hover { color: black; }
    }

    a:last-child { margin-right: 0; }
  }
}
