/* You can add global styles to this file, and also import other style files */

html {
  scroll-behavior: smooth;
}

body {
  --w-yellow: #EAC435;
  font-family: 'Lato', sans-serif;
  background-color: var(--w-yellow);
  color: white;
}

section {
  min-height: 85vh;
  padding: 2.5vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amatic SC', cursive;
  letter-spacing: 1px;
}

p {
  line-height: 1.75;
}

mark {
  padding: 0 0.2em;
  background-color: white;
  color: black;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.hvr-pulse {
  vertical-align: baseline;
}

.hvr-buzz-out {
  vertical-align: baseline;
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 2.25em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  p, .alert, #snackbar, .btn {
    font-size: 0.85em;
  }
}

/* Small devices */
@media only screen and (min-width: 321px) {
  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.25em;
  }

  p, .alert, #snackbar, .btn {
    font-size: 0.9em;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4.5em;
  }

  h2 {
    font-size: 3.5em;
  }

  h3 {
    font-size: 2.25em;
  }

  h4 {
    font-size: 1.5em;
  }

  p, .alert, #snackbar, .btn {
    font-size: 1em;
  }
}
