.click-me {
  height: 15vh;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
}

.click-me a i {
  display: block;
  margin-bottom: 0.75vh;
}

section#landing h1 {
  text-align: center;
  font-size: 5em;
}

/* Mobile optimisation */
@media only screen and (max-width: 768px) {
  section#landing h1 {
    text-align: center;
    font-size: 3em;
  }
}
