#landing h1 {
  text-align: center;
}

#landing {
  background-color: var(--w-yellow);
}

#a-bit-about-me {
  background-color: #004385;
  color: white;
}

#education {
  background-color: var(--success);
  color: white;
}

#experience {
  background-color: #D64933;
  color: white;
}

#contact-me {
  background-color: var(--info);
  color: white;
}

#contact-me section {
  min-height: 0;
}

.click-me {
  padding-top: 1vh;
  height: 15vh;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: white;
}

.click-me a i {
  display: block;
  margin-bottom: 0.75vh;
}

.click-me a {
  color: white;
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
  .click-me {
    font-size: 1.15em;
  }
}

/* Small devices */
@media only screen and (min-width: 321px) {
  .click-me {
    font-size: 1.25em;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  .click-me {
    font-size: 1.75em;
  }
}
