#change-theme-btn {
  position: fixed;
  left: 5px;
  top: 5px;
  z-index: 3;
}

.landing, .a-bit-about-me, .education, .experience, .portfolio, .contact-me {
  color: white;
}

.landing h1 {
  text-align: center;
  color: black;
}

.landing {
  background-color: var(--w-yellow);
}

.a-bit-about-me {
  background-color: #004385;
}

.education {
  background-color: var(--success);
}

.experience {
  background-color: #D64933;
}

.portfolio {
  background-color: var(--purple);
}

.contact-me {
  background-color: var(--info);
}

section.contact-me {
  min-height: 0;
}

.click-me {
  min-height: 15vh;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: white;
  padding-bottom: 2.5vh;
}

.click-me a i {
  display: block;
  margin-bottom: 0.75vh;
}

.click-me a {
  color: white;
}

.click-me a small {
  font-weight: bold;
}

/* Extra small devices */
@media only screen and (max-width: 320px) {
  .click-me {
    font-size: 1.15em;
  }
}

/* Small devices */
@media only screen and (min-width: 321px) {
  .click-me {
    font-size: 1.25em;
  }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
  .click-me {
    font-size: 1.75em;
  }
}
