<section id="landing">
  <div class="container">
    <h1>Hi there!</h1>
    <h1>My name is <b>Wen Ting Wang</b>.</h1>
    <h1>But you can just call me</h1>
    <h1><mark class="hvr-buzz"><b>Ting</b></mark>.</h1>
  </div>
</section>
<div class="container-fluid click-me">
  <a class="hvr-wobble-bottom" href="#about-me">
    <b><i class="fa fa-angle-down"></i>Let's go down</b>
    <br /><small>downtown...</small>
  </a>
</div>

<section id="about-me">
  <div class="container">
    <h2  class="hvr-wobble-vertical"><i class="fa fa-user"></i> A bit about me</h2>
    <p>
      Bacon ipsum dolor amet beef boudin meatball shoulder.
      Boudin picanha spare ribs, tail ground round t-bone ham rump meatloaf
      pastrami ball tip kevin tri-tip chuck buffalo.  Frankfurter pastrami
      salami short loin fatback, jowl capicola kevin brisket leberkas drumstick
      pork belly rump. Bacon andouille rump strip steak capicola biltong cow
      pancetta ribeye boudin tenderloin short ribs alcatra cupim.
    </p>
    <p>Sausage salami beef, capicola swine andouille ham hock pork chop chuck
      kielbasa chicken t-bone. Ribeye andouille frankfurter venison flank
      fatback. Kielbasa beef shank, beef ribs pork chop ball tip spare ribs
      turkey porchetta frankfurter.  Jowl kevin kielbasa pork loin, alcatra
      meatloaf pastrami chuck strip steak short ribs sirloin ground round spare
      ribs ball tip.
    </p>
    <p>
      Kevin short loin ball tip pork doner. Boudin prosciutto pork belly tail
      pork loin picanha flank strip steak sausage beef ribs jowl. Ball tip cupim
      pork belly shoulder ham hock venison flank bresaola brisket jowl meatloaf
      leberkas porchetta burgdoggen. Corned beef cupim brisket burgdoggen
      landjaeger. Venison ham brisket, spare ribs prosciutto meatloaf corned
      beef. Pork loin doner beef ribs cupim ribeye ground round picanha flank
      corned beef alcatra t-bone short loin kielbasa. Tri-tip pig cupim, rump
      shank short ribs jerky meatloaf ham hock swine spare ribs capicola
      meatball drumstick pork loin.
    </p>
  </div>
</section>
<div class="container-fluid click-me">
  <a class="hvr-wobble-bottom" href="#education">
    <b><i class="fa fa-angle-down"></i>Let's go down</b>
  </a>
</div>

<section id="education">
  <app-education></app-education>
</section>
<div class="container-fluid click-me">
  <a class="hvr-wobble-bottom" href="#experience">
    <b><i class="fa fa-angle-down"></i>Let's go down</b>
  </a>
</div>

<section id="experience">
  <div class="container">
    <app-experience></app-experience>
  </div>
</section>
<div class="container-fluid click-me">
  <a class="hvr-wobble-top" href="#landing">
    <b><i class="fab fa-fly"></i>Fly me to the top please!</b>
  </a>
</div>
